/**
    颜色
*/

$mainColor: #3fd1ad;
$successColor: #40d0ad;
$warningColor: #F7BA2A;
$dangerColor: #ff6669;
$borderColor: #e6e6e6;
$darkGrayColor: #999;
$lightWhiteColor: #eef1f6;
$textColor :#333;


/**
    字体大小
*/
$fontSizeBase: 14px;
$fontSizeSmall: 12px;
$fontSizeLarge: 16px;
